<table class="table table-info table-hover">
  <tr >
    <th colspan="10" class="display-6" >Books</th>
  </tr>
  <tr >
    <td> <b>Name</b></td>
    <td> <b>Pages</b></td>
    <td> <b>Author</b></td>
    <th colspan="10"></th>
  </tr>
  <% @book.each do |book| %>
    <tr >
      <td> <%=  book.name %></td>
      <td> <%=  book.pages %></td>
      <td><%= link_to  book.author&.name, author_path(:id=> book.author.id) %></td>
      <td> <%= link_to 'Delete', book_path(book), method:  :delete, class: "btn btn-primary" %></td>
      <td><%= link_to "Update", edit_book_path(book), class: "btn btn-primary" %></td>
    </tr>
    <% end %>
    </table>
<%= link_to "New Book", new_book_path, class: "btn btn-primary" %>
    </div>